.highcharts-container > svg > text,
.highcharts-container > svg > g > text >tspan,
.highcharts-container > svg > g >g >g > g> text >tspan {
 color: #4d759e;
 fill: #4d759e;
}
.highcharts-background { rgb(255, 255, 255);}