 .highcharts-container > svg > text,
 .highcharts-container > svg > g > text >tspan,
 .highcharts-container > svg > g >g >g > g> text >tspan {
  color: #fff !important;
  fill: #fff !important;
 }
 .highcharts-background { fill:none;}
 
 .highcharts-tooltip > rect {fill: #555 !important;}
 