 #container {
float: center;
 }


@media (min-width:1200px) {
#wrapper{
	margin:5px 25px 5px 25px;
	width: 1140px;
	padding: 5px;
 }

#container {
	min-width:30%;
	height:90%;
	max-height: 84.4%;
	width: 100%;
	max-width:	1140px;
}}

@media (max-width:1199px) {

#container {
	height:84%;
	width: 100%;
}

#wrapper{
margin-top: -40px;
 }
 }
 
