
@media (min-width:680px) {

#mypanel{display:none}

.ui-body-c, .ui-overlay-c {
background-image: -webkit-gradient(linear,left top,left bottom,from( #444 ),to( #222 ));
background-image: -webkit-linear-gradient( #444,#222 );
background-image: -moz-linear-gradient( #444,#222 );
background-image: -ms-linear-gradient( #444,#222 );
background-image: -o-linear-gradient( #444,#222 );
background-image: linear-gradient( #444,#222 );
}

.ui-mobile [data-role=header] a:first-child {
display:none;
}

.ui-content {
margin: 35px 35px 0px 35px;
}

.navigation{
display:block;
}

.ui-mobile [data-role=page], .ui-mobile [data-role=header]{
width: 1200px;
left: 50%;
margin-left: -600px;
box-shadow: -1px 1px 5px 1px rgba(5, 5, 5, 0.44);
background-color: rgb(31, 31, 31);
}

#lk_favoriten .ui-icon {
background: url(../images/lk_favoriten.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#lk_einstellungen .ui-icon {
background: url(../images/lk_einstellungen.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#lk_raeume .ui-icon {
background: url(../images/lk_raeume.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#lk_geraete .ui-icon {
background: url(../images/lk_geraete.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#lk_gruppen .ui-icon {
background: url(../images/lk_gruppen.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#lk_timer .ui-icon {
background: url(../images/lk_timer.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#lk_musik .ui-icon {
background: url(../images/lk_musik.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#lk_wetter .ui-icon {
background: url(../images/lk_wetter.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#lk_statistik .ui-icon {
background: url(../images/lk_statistik.png) 50% 50% no-repeat;
background-size: 18px 18px;
-moz-box-shadow: 0 0 0 ;
-webkit-box-shadow: 0 0 0 ;
box-shadow: 0 0 0 ;
-webkit-border-radius: 0;
border-radius: 0;
margin-left: 10px;
}

#bg_left {
	clear: both;
	position: fixed;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #444 ),to( #222 ));
	background-image: -webkit-linear-gradient( #444,#222 );
	background-image: -moz-linear-gradient( #444,#222 );
	background-image: -ms-linear-gradient( #444,#222 );
	background-image: -o-linear-gradient( #444,#222 );
	background-image: linear-gradient( #444,#222 );
	background-repeat: repeat-y;
	background-image: url(../images/Melamine-wood-004.png);
	left: 50%;
	top: 0px;
	margin-left: -1175px;
	width: 578px;
	height: 100%;
}

#bg_right {
	clear: both;
	position: fixed;
    background: #222;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	font-weight: normal;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #444 ),to( #222 ));
	background-image: -webkit-linear-gradient( #444,#222 );
	background-image: -moz-linear-gradient( #444,#222 );
	background-image: -ms-linear-gradient( #444,#222 );
	background-image: -o-linear-gradient( #444,#222 );
	background-image: linear-gradient( #444,#222 );
	background-repeat: repeat-y;
	background-image: url(../images/Melamine-wood-004.png);
	left: 50%;
	top: 0px;
	margin-left: 600px;
	width: 620px;
	height: 100%;
}

.ui-bar-a, .ui-bar-c, .ui-bar-b, .ui-bar-d {
border: 1px solid #333;
background: #111;
color: #fff;
font-weight: bold;
text-shadow: 0 -1px 0 #000;
background-image: -webkit-gradient(linear,left top,left bottom,from( #3c3c3c ),to( #111 ));
background-image: -webkit-linear-gradient( #3c3c3c,#111 );
background-image: -moz-linear-gradient( #3c3c3c,#111 );
background-image: -ms-linear-gradient( #3c3c3c,#111 );
background-image: -o-linear-gradient( #3c3c3c,#111 );
background-image: linear-gradient( #3c3c3c,#111 );
}

.ui-btn-up-a, .ui-btn-up-b, .ui-btn-up-c, .ui-btn-up-d {
border: 1px solid #ccc;
background: #eee;
font-weight: bold;
color: #222;
text-shadow: 0 1px 0 #fff;
background-image: -webkit-gradient(linear,left top,left bottom,from( #fff ),to( #f1f1f1 ));
background-image: -webkit-linear-gradient( #fff,#f1f1f1 );
background-image: -moz-linear-gradient( #fff,#f1f1f1 );
background-image: -ms-linear-gradient( #fff,#f1f1f1 );
background-image: -o-linear-gradient( #fff,#f1f1f1 );
background-image: linear-gradient( #fff,#f1f1f1 );
}

}

