﻿html { overflow-y:scroll; }
.ui-page {overflow: visible !important;}
.spacer { text-align:center }

.ui-content .ui-listview, .ui-panel-inner > .ui-listview {
margin: -15px;
margin-bottom: 15px;
}

/*#timerdays_select .ui-checkbox {width: 14.28%;}
#timertypecontrolgroup .ui-radio {width: 33.33%;}
*/

.ui-field-contain div.ui-slider-switch, .ui-field-contain.ui-hide-label div.ui-slider-switch {width:100%;overflow:hidden}
.ui-slider-switch .ui-slider-label-b {margin-right: 20px;}
.timer_activ_on  {color: #6AB638;}
.timer_activ_off  {	color: #B63737;}
/* icon größe von der liste */
.ui-li-thumb, .ui-li-icon {
    left: 1px;
    max-height: 32px; 
    max-width: 32px;
    position: absolute;
    top: 0;
}

.ui-header > .ui-btn, .ui-footer > .ui-btn {
display: inline-block;
margin: 0;
border-radius: 1em;
}

input:-webkit-autofill {
    color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px #F8F8F8 inset;
}

.ui-icon-on {
	background-image: url("../images/app-icon-on.png");
}
.ui-icon-off {
	background-image: url("../images/app-icon-off.png");
}

.navigation{
display:none;
}
/*
.ui-grid-a .ui-block-a { width: 66.95%; }
.ui-grid-a .ui-block-b { width: 32.925%; }
.ui-grid-a .ui-block-a { clear: left; }
*/

.hide {
    visibility:hidden;
    display:none;
}
.show {
    visibility:visible;
    display:inline;
}

@media (min-width:28em) and (max-width:35em) {
.ui-field-contain div.ui-slider-switch, .ui-field-contain.ui-hide-label div.ui-slider-switch {width:76.5%}
}

@media (min-width:35em) {
 
/* wrap on wide viewports once open */

.ui-field-contain div.ui-slider-switch, .ui-field-contain.ui-hide-label div.ui-slider-switch {width:77.5%}
 
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
    margin-right: 17em;
}
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
    margin-left: 17em;
}
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
    width: auto;	
}
 
/* disable "dismiss" on wide viewports */
.ui-responsive-panel .ui-panel-dismiss-display-push {
    display: none;
}
 
}

