@media (min-width:680px) {

#bg_left {	
background-color: #026873;
background-image: linear-gradient(90deg, rgba(8,15,24,.07) 50%, transparent 50%),
linear-gradient(90deg, rgba(28,15,24,.13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(8,15,24,.17) 50%),
linear-gradient(90deg, transparent 50%, rgba(8,15,24,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
background-repeat: repeat;
width: 100%;
left:0;

}

#bg_right {	
background-color: #026873;
background-image: linear-gradient(90deg, rgba(8,15,24,.07) 50%, transparent 50%),
linear-gradient(90deg, rgba(28,15,24,.13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(8,15,24,.17) 50%),
linear-gradient(90deg, transparent 50%, rgba(8,15,24,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
background-repeat: repeat;
width: 100%;
left:0;

}