@media (min-width:680px) {

#bg_left {	background-image: url(images/desktop_bg_02.png);	background-repeat: repeat;;width: 100%;left:0;}
#bg_right {	background-image: url(images/desktop_bg_02.png);	background-repeat: repeat;;width: 100%;left:0;}
}